<header class="header">
    <div class="logo">
        <a routerLink="/">Online Shopping</a>
    </div>
    <div class="left">
        <a routerLink="/products">Products</a>
        <div *ngIf="isAuthenticated">
            <a routerLink="/new-product" [queryParams]="{editing: 0}">New Product</a>
            <a [routerLink]="'/cart'">Cart</a>
            <a routerLink="/orders">Orders</a>
        </div>
    </div>
    <div class="right">
        <button *ngIf="isAuthenticated" (click)="onLogout()">Logout</button>
        <div *ngIf="!isAuthenticated">
            <a routerLink="/signup">Sign up</a>
            <a routerLink="/login">Login</a>
        </div>
    </div>
</header>