.pagination {
    margin-top: 2rem;
    padding: auto;
}

.pagination a {
    text-decoration: none;
    color: orange;
    padding: 0.5rem;
    border: 1px solid orange;
    margin-right: 15px;
    background-color: rgb(66, 66, 240);;
}

.pagination a:hover,
.pagination a:active,
.pagination a.active {
    color: rgb(66, 66, 240);
    background-color: orange;
}